@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
* {
  font-family: "Quattrocento", serif;
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.logo-img {
  height: 200px;
  padding-right: 110px;
}
.navigation-bar {
  position: relative;
  display: flex;
  justify-content: right;
  flex-direction: row;

  background-color: #fff;
  width: 100%;
}

.navigation-bar a {
  color: #0a2c47;
  font-size: 18px;
  vertical-align: top;
  margin-right: 20;
  padding-right: 60px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.navigation-bar a:hover {
  color: #4c9eaa;
}

h2 {
  font-size: 20px;
  padding: 5px;
}
h3 {
  font-size: 32px;
  padding: 5px;
}
h4 {
  font-size: 22px;
  padding: 5px;
  color: #000;
}

.about {
  background-color: #4c9eaa;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
hr.solid {
  border-bottom: 4px solid #6e6b70;
}
.figure {
  background-color: #222e50;
}
a {
  text-decoration: none;
  color: #fff;
}
.photo {
  margin-top: auto;
  float: left;
  background-color: #367588;
  padding-top: 60px;
  padding: 16px;
  margin: 12px;
  display: inline;
}

.photo:hover {
  opacity: 0.1;
  background-color: #5e6870;
}
.text {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 24px;
  left: 122px;
  top: 500px;
}

.text1 {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 24px;
  left: 485px;
  top: 500px;
}
.text2 {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  left: 845px;
  top: 500px;
  z-index: 1000;
}
.text3 {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  left: 1130px;
  top: 500px;
  z-index: 1000 !important;
}
.spacing {
  background-color: #fff;
}
.section {
  background-color: #5e6870;
}
.background {
  background-color: #5e6870;
}
.row4 {
  background-color: #5e6870;
}

.sheds img {
  float: left;
  padding-left: 40px;
  width: 350px;
  height: 350px;
  padding: 20px;
  margin: 40px;
  background-color: #4c9eaa;
}
.fences img {
  padding: 20px;
  margin: 40px;
  margin-left: 400px;
  background-color: #4c9eaa;
}
.decks img {
  float: left;
  padding-left: 40px;
  width: 350px;
  height: 350px;
  padding: 20px;
  margin: 40px;
  background-color: #4c9eaa;
}
.retainingwall img {
  float: left;
  width: 350px;
  height: 350px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 40px;
  padding: 20px;
  margin-right: 135px;
  margin-left: 168px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4c9eaa;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  background-color: #0a2c47;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row3::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row4::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
hr.solid1 {
  border-top: 4px solid #6e6b70;
}
footer {
  background-color: #367588;
  text-align: center;
  font-size: 25px;
  color: #fff;
  height: 70px;
  padding: 40px;
}
