@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
* {
  font-family: "Quattrocento", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
a {
  text-decoration: none;
}
body {
  width: auto;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 200px;
}
.nav {
  justify-content: right;
  flex-direction: row;
}

.nav a {
  color: #0a2c47;
  font-size: 18px;
  margin-right: 20;
  padding-right: 60px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav a:hover {
  color: #367588;
}

h2 {
  font-size: 20px;
  padding: 5px;
}
h3 {
  font-size: 32px;
  padding: 5px;
  z-index: 1000;
}
h4 {
  font-size: 22px;
  padding: 5px;
  color: #000;
}
h5 {
  font-size: 22px;
  color: #fff;
}

.about {
  background-color: #4c9eaa;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
hr.solid {
  border-bottom: 4px solid #6e6b70;
}
.figure {
  background-color: #222e50;
}
a {
  text-decoration: none;
  color: #fff;

  z-index: 1000;
  font-weight: 400;
}
.photo {
  position: relative;
  text-align: center;
  padding: 10px;
  display: inline;
  margin-top: 10px;
  margin-bottom: 40px;
}

.photo:hover {
  opacity: 0.1;
  background-color: #5e6870;
}
.centered {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 1000;
}
.spacing {
  background-color: #fff;
}
.section {
  background-color: #5e6870;
}
.background {
  background-color: #5e6870;
}
.row4 {
  background-color: #5e6870;
}

.sheds img {
  float: left;
  padding-left: 40px;
  width: 400px;
  height: 360px;
  padding: 10px;
  margin: 35px;
  background-color: #4c9eaa;
}
.fences img {
  padding: 20px;
  margin: 40px;
  margin-left: 400px;
  background-color: #4c9eaa;
}
.decks img {
  float: left;
  padding-left: 40px;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 35px;
  background-color: #4c9eaa;
}
.retainingwall img {
  float: left;
  width: 420px;
  height: 420px;
  padding: 10px;
  margin-right: 120px;
  margin-left: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4c9eaa;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  background-color: #0a2c47;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row3::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row4::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
hr.solid1 {
  border-top: 4px solid #6e6b70;
}
footer {
  background-color: #367588;
  text-align: center;
  font-size: 25px;
  color: #fff;
  height: 70px;
  padding: 40px;
}
