@import url(https://fonts.googleapis.com/css?family=Cinzel:regular,500,600,700,800,900);
* {
  font-family: Cinzel, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  width: auto;
  font-size: 16px;
}
.logo {
  text-align: center;
}
header {
  background-color: #fff;
  font-size: 0;
}
nav {
  background-color: #87746d;
  font-size: 16px;
}
ul {
  width: 570px;
  padding: 0px;
  margin: 0px auto 0px auto;
  text-align: center;
  word-spacing: 1em;
}
li {
  display: inline;
}
a {
  color: #fff;
}
a:hover {
  color: #9ab7a0;
}
div {
  padding: 0;
}

p {
  font-size: 22px;
  padding: 40px;
  color: #fff;
}
.fences {
  background-color: #194260;
}
.sheds {
  background-color: #194260;
}
.decks {
  background-color: #194260;
}
.retainingwall {
  background-color: #194260;
}

.sheds img {
  float: left;
  width: 400px;
  height: 400px;
  padding: 40px;
  background-color: #194260;
}
.fences img {
  float: left;
  width: 400px;
  height: 400px;
  padding: 40px;
  background-color: #194260;
}
.decks img {
  float: left;
  width: 400px;
  height: 400px;
  padding: 40px;
  background-color: #194260;
}
.retainingwall img {
  float: left;
  width: 400px;
  height: 400px;
  padding: 40px;
  background-color: #194260;
}

.row::after {
  display: block;
  text-align: left;
  background-color: #194260;
}

.row1::after {
  display: block;
  text-align: left;
  background-color: #194260;
}
.row2::after {
  display: block;
  text-align: left;
  background-color: #194260;
}
.row3::after {
  display: block;
  text-align: left;
  background-color: #194260;
}

footer {
  background-color: #0a2c47;
  text-align: center;
  color: #fff;
  height: 200px;
}
