@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
* {
  font-family: "Quattrocento", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
a {
  text-decoration: none;
}
body {
  width: auto;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 200px;
}
.nav {
  justify-content: right;
  flex-direction: row;
}

.nav a {
  color: #0a2c47;
  font-size: 18px;
  margin-right: 20;
  padding-right: 60px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav a:hover {
  color: #367588;
}
h1 {
  color: #000;
}

h2 {
  font-size: 20px;
  padding: 5px;
  color: #000;
}
h3 {
  font-size: 32px;
  padding: 5px;
  z-index: 1000;
  color: #000;
}
h4 {
  font-size: 22px;
  padding: 5px;
  color: #000;
}
h5 {
  font-size: 22px;
  color: #000;
}

.about {
  background-color: #4c9eaa;
  text-align: center;
  padding: 10px;
}
hr.solid {
  border-bottom: 4px solid #6e6b70;
}
.figure {
  background-color: #222e50;
}
a {
  text-decoration: none;
  color: #fff;
  z-index: 1000;
  font-weight: 400;
}
.image {
  position: relative;
  width: 630px;
  height: 280px;
  text-align: center;
  padding: 30px;
  display: inline;
  margin: 10px 20px 40px 0;
}
.image__image {
  display: inline-block;
  height: 280px;
  width: 380px;
}

.image__overlay {
  position: absolute;
  margin-top: 0;
  right: 0;
  bottom: 0;
  width: 380px;
  height: 295px;
  background: rgba(0, 0, 0, 0.7);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}

.image__overlay--primary {
  background: #000;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-weight: bold;
  color: #fff;
}

.spacing {
  background-color: #fff;
}
.section {
  background-color: #5e6870;
}
.background {
  background-color: #5e6870;
  background: url(./Images/scott-webb-UjupleczBOY-unsplash.jpg);
}
.row4 {
  background-color: #5e6870;
}

.sheds img {
  float: left;
  padding-left: 40px;
  width: 400px;
  height: 360px;
  padding: 5px;
  margin: 35px;
  background-color: #4c9eaa;
}
.fences img {
  padding: 5px;
  margin: 40px;
  margin-left: 400px;
  background-color: #4c9eaa;
}
.decks img {
  float: left;
  padding-left: 40px;
  width: 400px;
  height: 400px;
  padding: 5px;
  margin: 35px;
  background-color: #4c9eaa;
}
.retainingwall img {
  float: left;
  width: 420px;
  height: 420px;
  padding: 5px;
  margin-right: 120px;
  margin-left: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4c9eaa;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  background-color: #0a2c47;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row3::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
.row4::after {
  content: "";
  clear: both;
  display: table;
  background-color: #194260;
}
hr.solid1 {
  border-top: 4px solid #6e6b70;
}
footer {
  background-color: #367588;
  text-align: center;
  font-size: 25px;
  color: #fff;
  height: 70px;
  padding: 40px;
}
